#footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 5%;
    text-align: center;
    font-size: 15px;
    background-color: #EF7B45;
}

.topspacing{
}

.footerTitle{
    font-size: 30px;
    margin-bottom: 3%;
}

.socialContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 3%;

}

.sendToContact{
    align-self: center;
}

button{
    width: 130%;
    height: 40px;
    border-radius: 10px;
    background-color: #F4A698;
    font-size: 15px;
    text-align: center;
    border-color: #F4A698;
    margin-left: -8%;
}
/* .checkOutContainer{
    grid-row: 3/6;
    grid-column: 3/4;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
} */

.twitterContainer, .gitContainer, .linkedinContainer{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding-right: 3%;
    padding-left: 3%;
}

#twitter, #github, #linkedIn{
    height: 40px;
    width: 40px;
    align-self: center;
}

.footerBackground{
    grid-row: 1/7;
    grid-column: 1/5;
    background-color: #EF7B45;
}

.bottomspacing{
    grid-row: 6/7;
    grid-column: 1/5;
    padding-top: 5%;
}

.footerLinks, .footerLinks:visited, .footerLinks:hover, .footerLinks:focus, .footerLinks:active{
    text-decoration: none;
    align-items: center;
    color: black;
}

@media (max-width: 1000px){
    #footer{
        font-size: px;
        grid-template-columns: 1fr 10fr 10fr 1fr;
    }

    .footerTitle{
        font-size: 20px;
    }
}
