#footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 2%;
    text-align: center;
    font-size: 15px;
    background-color: #EF7B45;
}

.footerTitle{
    font-size: 30px;
    margin-bottom: 2%;
    color: white;
}

.socialContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2%;
}

.socialContainer > a >div {
    color: white;
}

.sendToContact{
    align-items: center;
}

.messageButton{
    width: 140px;
    height: 40px;
    border-radius: 10px;
    background-color: #fffdfd;
    color: #964e41;
    font-weight: bold;
    font-size: 15px;
    border-color: #fffdfd;
    background-image: linear-gradient(to left, #fffdfd 50%, #fffdfd);
    /* border-color: linear-gradient(to left, #F4A698 50%, rgb(255, 121, 98) 50%); */
    background-size: 200% 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
    -webkit-filter: drop-shadow(2px 2px 2px #222);
    filter: drop-shadow(2px 2px 2px #222); 
}

.twitterContainer, .gitContainer, .linkedinContainer{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding-right: 3%;
    padding-left: 3%;
}

#twitter, #github, #linkedIn{
    height: 50px;
    width: 50px;
    align-self: center;
}

.footerBackground{
    grid-row: 1/7;
    grid-column: 1/5;
    background-color: #EF7B45;
}

.bottomspacing{
    grid-row: 6/7;
    grid-column: 1/5;
    padding-top: 2%;
}

.footerLinks, .footerLinks:visited, .footerLinks:hover, .footerLinks:focus, .footerLinks:active{
    text-decoration: none;
    align-items: center;
    color: black;
}

@media (max-width: 1000px){
    #footer{
        font-size: px;
        grid-template-columns: 1fr 10fr 10fr 1fr;
    }

    .footerTitle{
        font-size: 20px;
    }
}
