#projects{
    overflow: hidden; 
    font-family: 'Playfair Display', serif;
    font-size: 18px;
}

/* .skewTopBackground2, .skewBottomBackground{
    z-index: 1;
    width: 100%;
    border-radius: 0;
} */



/* .skewBottomBackground{
    margin-top: -2%;
}

.skewTopBackground2{
    width: 100%;
    border-radius: 0;
} */



.projectGrid{
    margin-top: -2%;
    position: relative;
    padding-top: 2%;
    z-index: 2;
}

img{
    width: 100%;
    border-radius: 15px;
}

.titleContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title{
    font-size: 30px;
    font-weight: 900;
}

.projectInfo > div{
    padding-bottom: 25px;
}

.title{
    margin-top: -10%;
    grid-row: 1/2;
    grid-column: 2/3;
}

.projectInfo{
    font-size: 19px;
    grid-row: 2/3;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -3%;
}

.imgAndLinks{
    grid-row: 2/3;
    grid-column: 2/3;
}

.boldBuilt, .loginWith{
    font-weight: 900;
    font-size: 23px;
    text-shadow: 1.8px 0 #676767;
}

.boldBuilt2{
    font-weight: 900;
    font-size: 23px;
    text-shadow: 1.5px 0 #a09c9c;
}


.divider1, .divider2, .divider3{
    background-color: black;
    height: 1px;
    width: 100%;
}

@media (min-width: 1000px){
    #projects2{
        display: none;
    }

    .projectGrid, .projectGrid2{
        display: grid;
        grid-template-columns: 1fr 5fr 1fr;
        grid-auto-rows: auto;
    }

    .skewTopBackground1{
        /* z-index: 2; */
        width: 100%;
        border-radius: 0;
        grid-row: 1/2;
        grid-column: 1/4;
    }

    .swapBackground{
        background-color: #909090;
        grid-column: 1/4;
        grid-row: 2/3;
    }

    .exampleLogins{
        display: grid;
        grid-template-columns: 2fr 3fr;
        grid-auto-rows: auto;
        margin-bottom: 25px;
    }
    
    
    .swapMeet{
        grid-column: 2/3;
        grid-row: 2/3;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 10%;
    }

    .skewBottomBackground1{
        width: 100%;
        grid-row: 3/4;
        grid-column: 1/4;
        border-radius: 0;
    }
    
    .noted{
        grid-column: 2/3;
        grid-row: 4/5;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 10%;
    }

    .triviaBackground{
        grid-row: 6/7;
        grid-column: 1/4;
        background-color: #FFC9DE;
    }

    .triviaGame{
        grid-column: 2/3;
        grid-row: 6/7;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 10%;
        padding-top: 11%;
    }

    .todos{
        grid-column: 2/3;
        grid-row: 8/9;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20%;
        padding-top: 2%;
    }


    .swapMeet > a, .noted > a, .triviaGame > a, .todos > a{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .zenGardenBackground{
        background-color: #8AFFB3;
    }

    .zenGarden{
        grid-column: 2/3;
        grid-row: 8/9;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20%;
        padding-top: 17%;
    }
}

@media (max-width: 1000px){
    #projects{
        display: none;
    }

    .projectGrid, .projectGrid2{
        display: flex;
        flex-direction: column;
        padding-left: 10%;
        padding-right: 10%;
    }

    .usernamePassword{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: auto;
    }

    .swapMeet, .noted, .todos{
        padding-bottom: 3%;
    }

    .divider1, .divider2, .divider3{
        margin-bottom: 10%;
    }

    .swapMeet, .triviaGame, .todos, .zenGarden, .noted{
        display: flex;
        flex-direction: column;
    }

    .swapMeet > a, .noted > a, .triviaGame > a, .todos > a, .zenGarden > a{
        width: 70%;
        padding-top: 10%;
        padding-bottom: 10%;
    }
}
